<%- include('./../test_H.ejs');  -%>
<div class="row">
    <div class="col table0 px-2">
        <%- include('table0.ejs',{data:data1, desgn:'DE'})  -%>
    </div>
    <div class="col table0 px-2">
        <%- include('table0.ejs',{data:data2, desgn:'SDE'})  -%>
    </div>
</div>


<%- include('./../test_F.ejs');  -%>
