<script>
    $(document).ready(function () {
      $(".dataTable").DataTable({
        "iDisplayLength" : 30,
        dom: "Bfrtip",
        buttons: ["copy", "csv", "excel", "pdf", "print"],
      });
    });
  </script>
  </div>
</body>

</html>