<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>This is received from api server for  </p>
     <h3><%=title%></h3>
      <a href="/Jobstatus">JOB Status</a>  
      <h2>Api Links</h2>
      
      <a href="/api/post">Post OGBAR and SusNP</a>  
      <br>
      <a href="/api/fault">Post Repeat Faults</a>
      <br>
      <a href="/api/clearedFault">Post Cleared Faults</a>
</body>
</html>