<%- include('test_H.ejs');  -%>

<div class="row">
    <div class="col">
        <%- include('table1.ejs',{data:data1})  -%>
    </div>
    <div class="col">
        <%- include('table1.ejs',{data:data2})  -%>
    </div>
</div>


<%- include('test_F.ejs');  -%>


